
header {
    display: flex;              /* Met l'image et le texte sur la même ligne */
    align-items: center;        /* Aligne verticalement */
    padding: 10px 20px;         /* Espacement autour */
    background-color: #f4f1f1;  /* Couleur de fond */
    border-bottom: 1px solid #ccc; /* Ligne en bas */
}

/* Image du logo */
.logo {
    width: 25px;                /* Taille de l'image */
    height: auto;               /* Garde les proportions */
    margin-right: 10px;         /* Espace entre l'image et le titre */
}

/* Titre */
header h1 {
    font-size: 24px;
    color: #020202;
}


/* Groupe droite : réglages + profil */
.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #100f0f;
  margin-left: auto;
}


/* ===== Bloc vert ===== */
.bloc {
  background-color: #a9d3a9;   /* vert doux, comme ta maquette */
  border-top: 1px solid #d7e7d7;
  border-bottom: 1px solid #d7e7d7;
  padding: 20px 16px;          /* espace intérieur */
  
  /* >>> Ajoute un espace au-dessus <<< */
  margin-top: 40px; /* tu peux augmenter à 30px ou 40px si tu veux plus d'air */
}


/* Style commun à toutes les cartes */
.carte-bleue, .carte-verte, .carte-mauve {
  padding: 16px;
  border-radius: 10px;
  color: #111;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Couleurs spécifiques */
.carte-bleue {
  background-color: #a9c4e8; /* bleu doux */
}



